.works {
    width: 75%;
    margin: 10px auto;
  
    .works_text {
    font-size: 50px;
    line-height: 35px;
    color: #3677fd;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    }
.workImg {
  border: 2px solid red;
}


}
