.dark_blue_section {
    background-color:#10234B;
    width: 75%;
    margin: auto;
    .forma {
        width: 75%;
        background-color: white;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        .head_forma {
            text-align: center;
            color:#5C90FD;
        }
        .hire_me {
        border: 2px solid green;
        margin:  5px auto;
        .form_hire_me{
.cont_name {
    width: 80%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    margin: 10px;
}
   ;
}
.form_hire_me{
    margin:  5px auto;
    .cont_name {
        width: 80%;
        height: 50px;
        box-sizing: border-box;
        padding: 10px;
        color: white;
        margin: 10px;
    }
       ;
    }
    .form_hire_me{
        margin:  5px auto;
        .cont_name {
            width: 80%;
            height: 50px;
            box-sizing: border-box;
            padding: 10px;
            color: white;
            margin: 10px;
        }
           ;
        }
        .form_hire_me{  
            margin:  20px auto;  
.cont_message {
    width: 100%;
}
}
        }
    .but_hire_me {
        margin: 10px auto;
    }
    }
    
}