.header {
    background-color: #194277;
    .header__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid red;
        min-height: 40px;
        width: 100%;
        .header__text {
            font-size: 14px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Lato";
            text-align: center;
            // border: 2px solid gold;
            @media only screen and (min-width: 300px) and (max-width: 400px) {
                font-size: 12px;
                margin-top: 10px;
            }
        }
        .header__button {
            text-align: center;
            border-radius: 20px;
            width: 80px;
            height: 25px;
            border: none;
            color: #194277;
            //  border: 2px solid green;
            @media only screen and (min-width: 300px) and (max-width: 400px) {
                font-size: 10px;
                width: 65px;
                height: 20px;
            }
        }
    }
}
