.sectione_One {
    width: 75%;
    background-color:#3C8EFD ;
    margin: 0 auto;
    // display: flex;
    // font-display: column;
    .sectione_One_wrapper_circle {
        // border: 2px solid red;
        padding-top: 40px;
        padding-bottom: 20px;
        width: 100px;
        height: 50px;
        margin: 0 auto;
        .sectione_One_circle {
            width: 50px; 
            height: 50px;
            border-radius: 50%;
            background-color: white;
            margin: 0 auto;
            border:2px solid #1A80FF;
         //    margin-top: 10px;
         }
    }
    .sectione_One_header{
        font-size: 25px;
// letter-spacing: 1px;
// line-height: 60px;
color: #ffffff;
font-weight: 600;
font-family: "Lato";
text-align: center;
width: 450px;
height: 70px;
text-transform: uppercase;
margin: 0 auto;
// border:2px solid green;

    }
    .sectione_One_text {
        width: 400px;
        height: 40px;
        font-size: 14px;
        // letter-spacing: 0px;
        // line-height: 35px;
        color: #ffffff;
        font-weight: 100;
        font-family: "Lato";
        text-align: center;  
        text-transform: uppercase;
        margin: 0 auto;
        // border: 2px solid purple;
    }
    .sectione_One_wrap_but {
        margin: 0 auto;
        text-align: center;
        // border: 2px solid gold;
        .sectione_One_button{
            width: 80px;
            height: 20px;
            background-color: white;
            margin: 20px auto ;
            border-radius: 20px;
            text-align: center;
            border: none;
            text-transform: uppercase;
            color: #1A80FF;
            font-size: 12px;
            font-weight: 800px;
        }
    }
    .sectione_One_arrow {
        color: white;
        text-align: center;
        padding-bottom: 5px;
    }

}



